@model List<Vehicle>
@{
    ViewData["Title"] = "Vehicle System";
}
<h2>Vehicles on Lot</h2>
<a asp-controller="Vehicle" asp-action="Add">Add New Vehicle to Lot</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Trim</th>
            <th>Body Style</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.Year</td>
                <td>@vehicle.Make</td>
                <td>@vehicle.VehModel</td>
                <td>@vehicle.Trim</td>
                <td>@vehicle.BodyStyle</td>
                <td>
                    <a asp-controller="Vehicle" asp-action="Edit" asp-route-id="@vehicle.VehicleId">Edit</a> 
                    <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@vehicle.VehicleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
